*{
    margin: 0px;
    padding: 0px;
}

div#title3 {
    margin: 60px 0px 0px 0px;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #ff98007a, #210404);
}

div#title2 {
    margin: 60px 0px 0px 0px;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #a5d219, #3b695a);
}

.audio3 {
    margin-top: 35px;
}

.audio2 {
    margin-top: 40px;
}

audio {}

.content_img {
    width: 355px;
    height: 420px;
    overflow: hidden;
}

i.fas.fa-volume-up {
    margin-right: 20px;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3.deltai {
    padding: 17px 0px 0px;
    color: cadetblue;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div#title {
    margin: 60px 0px 0px 0px;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #b18989, #3dd6ef);
}

.info.card-block {
    margin-top: 100px;
}

.slide {
    margin-top: 110px;
}

.thumb_img {
    width: 100px;
    height: 125px;
    overflow: hidden;
    position: absolute;
    top: -50px;
    left: 30%;
}

img.card-img-top {
    max-width: 100%;
    height: auto;
}

li.nav-item:hover {
    background-color: azure;
    color: red;
    border-radius: 10px;
}

.logovamenu {
    background-color: gold;
    height: 83px;
}

nav.navbar.navbar-light.fontroboto {}

a.nav-link {
    
font-size: 20px;
    
font-family: serif;
    
color: black !important;
    
float: left;
    
padding: 5px 20px;
    
margin-top: 12px;
}

a.nav-link:hover {
    background-color: #e3a417;
    border-radius: 10px;
    color: white !important;
}



li.nav-item {
    position: relative;
    z-index: 0;
    padding: 15px;
}

img.logo {
    width: 60%;
    display: block;
    margin-top: 7px;
}

.header {
    /* height: 75px; */
    margin-bottom: 30px;
}

.benphai {
    border-left: 1px solid #ddd;
    float: left;
    margin-left: 17px;
    padding-left: 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #ddd;
}

.benphai.openingtop.float-sm-right.text-sm-left.text-xs-center {
    border-right: 1px solid #ddd;
    padding-right: 26px;
}

.mangxh a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.topheader {
    background: #222222;
    height: 40px;
    color: white;
    line-height: 40px;
}
.mangxh a:nth-child(1) {
    padding-left: 0;
}
.back-top {
     font-family: "Font Awesome 5 Free";
     content: "\f35b";
     position: fixed;
     font-weight: bold;
     bottom: 50px;
     right: 25px;
     background: #3b32328f;
     /*color: black;*/
     padding: 4px 20px;
     border-radius: 50%;
     cursor: pointer;
     font-size: 50px;
     color: #e1f1e1;
}
.info_ft p {
    font-size: 18px;
    color: white;
}

.info_ft h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 0px 0px 20px;
}

p.call i, p.envelope i {
    padding-right: 21px;
    font-size: 20px;
    line-height: 20px;
}

p.copyrights {
    margin-top: 40px;
    font-size: 20px;
    color: #f2f2f2;
    /* padding-bottom: 50px; */
}

.contact .icondb {
    width: 35px;
    height: 35px;
    background-color: black;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.contact .icondb:hover {
    background-color: #FFC107;
    color: black;
}

.thongtin p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 17px;
}

span.fontdancing {
    font-size: 30px;
    padding-bottom: 15px;
    display: block;
    color: gold;
    font-family: 'Dancing Script', cursive;
}

h2.fontoswarld {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 3px #791757, 0 0 5px #b70d0d;
}

.thongtin, .info_ft{
    margin-top: 50px;
}

.footer {
    height: 420px;
    background-color: gray;
    margin-top: 100px;
}

