*{
    margin: 0px;
    padding: 0px;
}

.text_p {
    font-size: 25px;
    margin-left: 85px;
    color: #F44336;
    font-weight: 500;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

div#form {
    width: 80%;
    margin: 0px auto;
    background-color: #ccc7c778;
    border-radius: 20px;
}

.img_zoom img {
    max-width: 100%;
    height: 300px;
    border-radius: 30px;
}
.row{
    margin-left: 30px !important;
}


div#music-page {
    margin-top: 150px;
    margin-bottom: 150px;
}

.img_zoom {
    width: 300px;
    height: 320px !important;
}



li.nav-item:hover {
    background-color: azure;
    color: red;
    border-radius: 10px;
}

.logovamenu {
    background-color: #3689c3;
    height: 83px;
}

nav.navbar.navbar-light.fontroboto {}

a.nav-link {
    font-size: 20px;
    font-family: cursive;
    color: black !important;
    float: left;
    padding: 5px 20px;
    margin-top: 10px;
}

a.nav-link:hover {
    color: #FFC107 !important;
    background-color: #696561;
    border-radius: 10px;
}



li.nav-item {
    padding: 15px;
}

img.logo {
    width: 60%;
    display: block;
    margin-top: 7px;
}

.header {
    /* height: 75px; */
    margin-bottom: 30px;
}

.benphai {
    border-left: 1px solid #ddd;
    float: left;
    margin-left: 17px;
    padding-left: 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #ddd;
}

.benphai.openingtop.float-sm-right.text-sm-left.text-xs-center {
    border-right: 1px solid #ddd;
    padding-right: 26px;
}

.mangxh a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.topheader {
    background: #222222;
    height: 40px;
    color: white;
    line-height: 40px;
}
.mangxh a:nth-child(1) {
    padding-left: 0;
}
body{
    background-image: url('../img/49325793_482233765637756_6876399252583481344_n.jpg');
    background-size: cover;
    
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
    
    }

/*#music-page {
    background-color: rgba(255, 255, 255, 0.548);
    width: 80%;
    height: 500px;
    display:flex;
    align-items: center; 
    margin: auto;
    margin-top: 200px;
    border-radius: 1rem;
    min-width: 1000px
}

#form{
    width:100%;
    display:flex;
    min-width: 1000px;
    justify-content: space-around;
    
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;    
    width:30%;
}

.avatar{
    width: 300px;
    height: 300px;
    padding-top: 20px;
    border-radius: 3rem;
}

audio:focus{
    outline: none;
}

*/


.info_ft p {
    font-size: 18px;
    color: white;
}

.info_ft h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 0px 0px 20px;
}

p.call i, p.envelope i {
    padding-right: 21px;
    font-size: 20px;
    line-height: 20px;
}

p.copyrights {
    margin-top: 40px;
    font-size: 20px;
    color: #f2f2f2;
    /* padding-bottom: 50px; */
}

.contact .icondb {
    width: 35px;
    height: 35px;
    background-color: black;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.contact .icondb:hover {
    background-color: #FFC107;
    color: black;
}

.thongtin p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 17px;
}

span.fontdancing {
    font-size: 30px;
    padding-bottom: 15px;
    display: block;
    color: gold;
    font-family: 'Dancing Script', cursive;
}

h2.fontoswarld {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 3px #791757, 0 0 5px #b70d0d;
}

.thongtin, .info_ft{
    margin-top: 50px;
}

.footer {
    height: 420px;
    background-color: gray;
}


.back-top {
     font-family: "Font Awesome 5 Free";
     content: "\f35b";
     position: fixed;
     font-weight: bold;
     bottom: 50px;
     right: 25px;
     background: #3b32328f;
     /*color: black;*/
     padding: 4px 20px;
     border-radius: 50%;
     cursor: pointer;
     font-size: 50px;
     color: #e1f1e1;
}