*{
    margin: 0;
    padding: 0;
}

.info_ft p {
    font-size: 18px;
    color: white;
}

.info_ft h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 0px 0px 20px;
}

p.call i, p.envelope i {
    padding-right: 21px;
    font-size: 20px;
    line-height: 20px;
}

p.copyrights {
    margin-top: 40px;
    font-size: 20px;
    color: #f2f2f2;
    /* padding-bottom: 50px; */
}

.contact .icondb {
    width: 35px;
    height: 35px;
    background-color: black;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.contact .icondb:hover {
    background-color: #FFC107;
    color: black;
}

.thongtin p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 17px;
}

span.fontdancing {
    font-size: 30px;
    padding-bottom: 15px;
    display: block;
    color: gold;
    font-family: 'Dancing Script', cursive;
}

h2.fontoswarld {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 3px #791757, 0 0 5px #b70d0d;
}

.thongtin, .info_ft{
    margin-top: 50px;
}

.footer {
    height: 420px;
    background-color: gray;
}



img.img_ct3:hover {
    transform: rotateY(720deg);
    transition: 2.4s;
}

a.nut3.btn.btn-danger {
    width: 65%;
    height: 50px;
    padding: 15px;
}

.nut_btnct {
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
}

p.right_deltai {
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

h3.right_title {
    font-size: 40px;
}

.info1.col-sm-6 {
    margin-top: 10%;
}

img.img_ct3 {
    width: 65%;
    /* text-align: left; */
    /* padding-right: 0px; */
    margin-left: 30%;
}

.info p.left_deltai {
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

h3.left_title {
    font-size: 40px;
    color: #ddff24;
    margin-top: -10px;
    margin-bottom: 20px;
    /* text-align: left; */
    /* width: 100%; */
}



.cachra h3, .cachra p {
    margin-top: 20px;
}

i.fab.fa-creative-commons-sampling {
    font-size: 7rem;
    color: #5b6107d9;
}

i.fas.fa-moon {
    font-size: 7rem;
    color: black;
}

i.fas.fa-music {
    font-size: 7rem;
    color: #501796;
}

a.nut2.btn.btn-info {
    width: 60%;
    height: 50px;
    padding: 14px;
    color: white;
    text-shadow: 5px 3px 4px #a50707;
}

.nut_button {
    margin: 40px 0px 0px 70px;
    /* padding: 20px; */
}

.logovamenu.biendoi {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: 1s;
}
/*.logovamenu.biendoi img.logo{
    background-image: url(../img/1658957 (1).png);
    background-size: cover;

}*/

.info.col-sm-6 {
    margin-top: 13%;
}


.btn_nut a {
    width: 25%;
    position: absolute;
    top: 60%;
    left: 15%;
    height: 10%;
    padding: 15px;
    font-size: 30px;
    border-radius: 21px;
    transition: 0.4s;
     animation: chulen 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@-webkit-keyframes chulen {
    0% {
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
       transform: translateY(0px);
        opacity: 1;
    }
}

a.nutbam.btn-danger {
    text-decoration: none;
}

.small p {
    position: absolute;
    font-size: 30px;
    font-family: unset;
    color: white;
    width: 35%;
    left: 10%;
    text-align: center;
    transition: 0.4s;
    animation: chusang 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    text-shadow: 1px 0px 10px #FF0000;
}

p.relax {
    top: 47%;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

p.text_p {
    top: 57%;
}
@-webkit-keyframes chusang {
    0% {
        transform: translateX(-800px);
        opacity: 0;
    }
    100% {
       transform: translateX(0px);
        opacity: 1;
    }
}


.text h2 {
    position: absolute;
    font-size: 50px;
    color: white;
    left: 23.5%;
    top: 40%;
    font-family: 'Merriweather', serif;
    transition: 0.4s;
    animation: chuxuong 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    /* color: #00BCD4; */
    text-shadow: 1px 1px 2px #2196F3, 0 0 25px blue, 0 0 5px #0000d8;
}
@-webkit-keyframes chuxuong {
    0% {
        transform: translateY(-800px);
        opacity: 0;
    }
    100% {
       transform: translateY(0px);
        opacity: 1;
    }
}

img.bg_img {
    position: absolute;
    bottom: 25%;
    width: 25%;
    right: 10%;
    transition: 0.4s;
    animation: cogai 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@-webkit-keyframes cogai {
    0% {
        transform: translateX(800px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a.nav-link {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    padding: 15px;
    color: black !important;
}

img.logo {
    width: 60%;
    display: block;
    margin-top: 10px;
}

.logovamenu {
     /*background: white; */
     /* height: 90px; */
     /*padding-top: 50px;*/
     transition: 1s;
}

.header {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(../img/anh.jpg);
    position: relative;
}
.content1 {
    background-color: white;
    height: 500px;
}
.cachra {
    /* margin-top: 52px; */
    padding-top: 10%;
}
.content2{
    background-image: url(../img/hinh-nen-full-hd-1080-ngay-nang-dep_022857341.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    opacity: 0.;
}

.content {
    position: relative;
    margin-top: 50px;
    margin-left: 18px;
}
.wrapper {
    width: 960px;
    margin:0px auto;
}
.zoom {
    width: 420px;
    height: 280px;
    overflow: hidden;
}
.zoom img {
    max-width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: 1s;
}

.info:hover img.layer1 {
    transform: scale(1);
    border-radius: 20px;
}



.content3{
    /* background-size: cover; */
    height: 700px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.back-top {
     font-family: "Font Awesome 5 Free";
     content: "\f35b";
     position: fixed;
     font-weight: bold;
     bottom: 50px;
     right: 25px;
     background: #3b32328f;
     /*color: black;*/
     padding: 4px 20px;
     border-radius: 50%;
     cursor: pointer;
     font-size: 50px;
     color: #e1f1e1;
}
@media (max-width: 576px) {
    *{}


img.logo {
    width: 39%;
}

.btn_nut a {
    width: 47%;
    height: 55px;
    font-size: 20px;
}

.btn_nut {}

.bg img.bg_img {
    top: 45%;
}

.small p {
    font-size: 15px;
}

.text h2 {
    font-size: 30px;
    margin-left: -24px;
    margin-top: -6px;
}
p.phone:before {
    font-family: "Font Awesome Free 5";
    content: "\f2a0";
    font-weight: bold;
}