*{
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.contact .icondb {
    width: 35px;
    height: 35px;
    background-color: black;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.contact .icondb:hover {
    background-color: #FFC107;
    color: black;
}

.thongtin p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 17px;
}

span.fontdancing {
    font-size: 30px;
    padding-bottom: 15px;
    display: block;
    color: gold;
    font-family: 'Dancing Script', cursive;
}

h2.fontoswarld {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 3px #791757, 0 0 5px #b70d0d;
}

.thongtin {
    margin-top: 200px;
}

.footer {
    height: 500px;
    background-color: gray;
}

.container {}

img.img_ct3:hover {
    transform: rotateY(720deg);
    transition: 2.4s;
}

a.nut3.btn.btn-danger {
    width: 65%;
    height: 50px;
    padding: 15px;
}

.nut_btnct {
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
}

p.right_deltai {
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

h3.right_title {
    font-size: 40px;
}

.info1.col-sm-6 {
    margin-top: 10%;
}

img.img_ct3 {
    width: 65%;
    /* text-align: left; */
    /* padding-right: 0px; */
    margin-left: 30%;
}

.info p.left_deltai {
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

h3.left_title {
    font-size: 40px;
    color: #ddff24;
    margin-top: -10px;
    margin-bottom: 20px;
    /* text-align: left; */
    /* width: 100%; */
}



.cachra h3, .cachra p {
    margin-top: 20px;
}

i.fab.fa-creative-commons-sampling {
    font-size: 7rem;
    color: #5b6107d9;
}

i.fas.fa-moon {
    font-size: 7rem;
    color: black;
}

i.fas.fa-music {
    font-size: 7rem;
    color: #501796;
}

a.nut2.btn.btn-info {
    width: 60%;
    height: 50px;
    padding: 15px;
}

.nut_button {
    margin: 40px 0px 0px 70px;
=======
a.nut2.btn.btn-info {
    width: 50%;
    /* height: 57px; */
}

.nut_button {
    margin: 40px 0px 0px 80px;
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
    /* padding: 20px; */
}

.logovamenu.biendoi {
<<<<<<< HEAD
    background-color: #ffffff;
=======
    background-color: #f1f9fc;
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: 1s;
}
/*.logovamenu.biendoi img.logo{
    background-image: url(../img/1658957 (1).png);
    background-size: cover;

}*/

.info.col-sm-6 {
    margin-top: 13%;
}

<<<<<<< HEAD
=======
a.creative {
    font-size: 7rem;
    color: #665b2c;
}


a.moon {
    font-size: 7rem;
    color: black;
}





a.music {
    font-size: 7rem;
    color: blueviolet;
}
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1

.btn_nut a {
    width: 25%;
    position: absolute;
    top: 60%;
    left: 15%;
    height: 10%;
    padding: 15px;
    font-size: 30px;
    border-radius: 21px;
    transition: 0.4s;
     animation: chulen 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@-webkit-keyframes chulen {
    0% {
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
       transform: translateY(0px);
        opacity: 1;
    }
}

a.nutbam.btn-danger {
    text-decoration: none;
}

.small p {
    position: absolute;
<<<<<<< HEAD
    font-size: 30px;
    font-family: unset;
=======
    top: 50%;
    font-size: 30px;
    font-family: "roboto";
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
    color: white;
    width: 35%;
    left: 10%;
    text-align: center;
    transition: 0.4s;
    animation: chusang 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
<<<<<<< HEAD
    text-shadow: 1px 0px 10px #FF0000;
}

p.relax {
    top: 47%;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

p.text_p {
    top: 57%;
=======
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
}
@-webkit-keyframes chusang {
    0% {
        transform: translateX(-800px);
        opacity: 0;
    }
    100% {
       transform: translateX(0px);
        opacity: 1;
    }
}


.text h2 {
    position: absolute;
    font-size: 50px;
    color: white;
<<<<<<< HEAD
    left: 23.5%;
    top: 40%;
    font-family: 'Merriweather', serif;
    transition: 0.4s;
    animation: chuxuong 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    /* color: #00BCD4; */
    text-shadow: 1px 1px 2px #2196F3, 0 0 25px blue, 0 0 5px #0000d8;
=======
    left: 20%;
    top: 40%;
    font-family: 'Merriweather', serif;
    transition: 0.4s;
     animation: chuxuong 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;

>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
}
@-webkit-keyframes chuxuong {
    0% {
        transform: translateY(-800px);
        opacity: 0;
    }
    100% {
       transform: translateY(0px);
        opacity: 1;
    }
}

img.bg_img {
    position: absolute;
    bottom: 25%;
    width: 25%;
    right: 10%;
    transition: 0.4s;
    animation: cogai 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@-webkit-keyframes cogai {
    0% {
        transform: translateX(800px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a.nav-link {
    font-size: 20px;
<<<<<<< HEAD
    font-family: 'Pacifico', cursive;
=======
    font-family: sans-serif;
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
    padding: 15px;
    color: black !important;
}

img.logo {
    width: 60%;
    display: block;
    margin-top: 10px;
}

.logovamenu {
     /*background: white; */
     /* height: 90px; */
     /*padding-top: 50px;*/
     transition: 1s;
}

.header {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(../img/anh.jpg);
    position: relative;
}
.content1 {
    background-color: white;
    height: 500px;
}
.cachra {
<<<<<<< HEAD
    /* margin-top: 52px; */
    padding-top: 10%;
=======
    margin-top: 40px;
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
}
.content2{
    background-image: url(../img/hinh-nen-full-hd-1080-ngay-nang-dep_022857341.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
<<<<<<< HEAD
    opacity: 0.;
}

=======
}
.info:hover .bg_blue {
    opacity: 1;
}

.info:hover .deltai p {
    transform: translateY(-10px);
}

.info:hover .title h2 {
  transform: translateY(10px);
}

.deltai p {
    position: absolute;
    z-index: 4;
    top: 45%;
    width: 55%;
    text-align: center;
    padding: 0px 0px 0px 15px;
    color: white;
    margin-left: 50px;
    transition: 0.4s;
    font-family: monospace;
}

.title h2 {
    position: absolute;
    top: 20px;
    z-index: 3;
    color: white;
    font-family: -webkit-body;
    top: 25%;
    width: 75%;
    text-align: center;
    font-size: 30px;
    transition: 0.4s;
}

.thanh1, .thanh2 {
    width: 350px;
    height: 1px;
    position: absolute;
    background: white;
    top: 140px;
    left: 50px;
    z-index: 2;
    transition: 0.4s;
    transform: rotate(0deg);
}

.bg_blue {
    position: absolute;
    width: 420px;
    height: 280px;
    background: #00314b4f;
    top: 0px;
    /* left: 15px; */
    z-index: 1;
    transition: 0.4s;
    opacity: 0;
}

/*img.layer1{
    width: 90%;
}*/
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
.content {
    position: relative;
    margin-top: 50px;
    margin-left: 18px;
}
.wrapper {
    width: 960px;
    margin:0px auto;
}
.zoom {
    width: 420px;
    height: 280px;
    overflow: hidden;
}
.zoom img {
    max-width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: 1s;
}

.info:hover img.layer1 {
    transform: scale(1);
<<<<<<< HEAD
    border-radius: 20px;
}



.content3{
    /* background-size: cover; */
    height: 700px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.back-top {
     font-family: "Font Awesome 5 Free";
     content: "\f35b";
     position: fixed;
     font-weight: bold;
     bottom: 50px;
     right: 25px;
     background: #3b32328f;
     /*color: black;*/
     padding: 4px 20px;
     border-radius: 50%;
     cursor: pointer;
     font-size: 50px;
     color: #e1f1e1;
}
@media (max-width: 576px) {
    *{}


img.logo {
    width: 39%;
}

.btn_nut a {
    width: 47%;
    height: 55px;
    font-size: 20px;
}

.btn_nut {}

.bg img.bg_img {
    top: 45%;
}

.small p {
    font-size: 15px;
}

.text h2 {
    font-size: 30px;
    margin-left: -24px;
    margin-top: -6px;
=======
}
.info:hover .thanh1 {
    transform: rotate(45deg);

}
.info:hover .thanh2 {
    transform: rotate(-45deg);
}

/*Css footer*/

.openning1 .trai {
    background: #151515;
    float: left;
    transform: translateY(9px);
    padding-right: 10px;
}

.openning1 .phai.float-xs-right {
    background: #151515;
    transform: translateY(9px);
    padding-left: 7px;
}

.openning1 {
    border-bottom: 1px dotted gray;
    height: 28px;
    margin-bottom: 13px;
    margin-top: -8px;
}

.cotf3 {padding-left: 90px;}

.cotf2 ul li a,.cotf3 ul li a {
    color: gray;
    font-size: 14px;
    font-family: roboto slab;
    color: #888;
    line-height: 28px;
    transition: 0.4s;
}

.cotf2 ul li a:hover,.cotf3 ul li a:hover {
    text-decoration: none;
    color: white;
}

.cotf2 ul,.cotf3 ul {
    list-style: none;
    margin: 0;
}

h2.tdft {
    font-size: 14px;
    color: #ccc;
    font-family: roboto slab;
    position: relative;
    margin-bottom: 38px;
}

h2.tdft:after {content: "";display: block;width: 32px;height: 1px;background: #feb518;top: 21px;position: absolute;}

.motdong {
    overflow: hidden;
    padding: 3px 0;
}

.cotf1 i.fa {
    padding-right: 20px;
    float: left;
    padding-top: 6px;
    color: #ababab;
    font-size: 16px;
}

.cotf1 i.fa.fa-paper-plane-o {
    padding-bottom: 23px;
}

.cotf1 p {
    padding-top: 17px;
}

.footertop {
    background: #151515;
    color: white;
    line-height: 24px;
    font-size: 14px;
    color: #888;
    padding-top: 113px;
    padding-bottom: 100px;
}

.footerbottom{
    line-height: 91px;
    height: 91px;
    color:#999;
    font-size: 13px;
    background:#111;
}
.content3{
    background-image: url(../img/hinh-nen-full-hd-1080-chu-ca-3d-cuc-dep_022855875.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
>>>>>>> c6d7aeddc7bece8d93be1f25f04dca24b4c296f1
}